<app-header></app-header>

<div class="container">
  <div class="card">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let book of books">
        <div class="d-flex justify-content-between">
          <div>
            <h4>Title:{{ book.title }}</h4>
            <p>Author: {{ book.author }}</p>
            <p>Language:{{ book.language }}</p>
            <p>Pages:{{ book.pages }}</p>
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-dark"
              (click)="addtocomplete(userid, book?.id)"
            >
              Add to CompletedBooks</button
            ><br /><br />

            <button class="btn btn-dark" (click)="addtowish(userid, book?.id)">
              Add to Wishlist
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
